.App-logo-header {
  margin: 30px auto;
  display: inline-grid;
  grid-template-columns: 200px 200px;
  column-gap: 30px;
}

.App-logo-header button {
  padding: 6px 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 6px;
  box-shadow: 0 3px 6px 1px #000;
  cursor: pointer;
  outline: none;
}

.App-logo-header button:hover {
  box-shadow: none;
}

.App-logo-header button:disabled {
  box-shadow: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.App-logo-header button:first-of-type {
  background-color: #4caf50;
}

.App-logo-header button:last-of-type {
  background-color: #f44336;
}

.App-logo-content {
  display: flex;
  justify-content: space-around;
}

.App-logo {
  height: 150px;
  animation: App-logo-spin infinite 10s linear reverse;
  pointer-events: none;
}

.App-logo:nth-child(even) {
  animation-direction: normal;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
